.titulo {
    font-family: subtitulos;
    font-size: 80px;
    font-weight: bold;
    color:#273a97;
    margin: 30px;
    text-align: center;
}

.contenedor {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    background-color: rgb(255, 255, 255);
    gap: 20px;
    width: fit-content;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 80px;
}

.contenedor img {
    width: 200px;
    max-width: 700px;
    height: auto;
}

.contenedor span {
margin-top: 2%;
font-size: 18px;
font-weight: 450;
}

.contenedor{
    display:inline-flex;
    justify-content: space-between;
    gap:20px;
}

.contenedordos{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 40px;
}

.tarjeta{
    background-color: #000000;
    border: #273a97;
    border-style: solid;
    border-width: 7px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.tarjeta h2 {
   color: white;
    text-align: center;
    font-size: 18px;
}

.tarjeta p{
    margin-left: 2%;
    margin-top: -1%;
    color: white;
    font-size: 12px;
    text-align: left;
}

.curiosidadesgeneral {
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    margin: 0; 
    padding: 3%;
    margin-bottom: 40px;
   
}



