body {
    background-image: url(../recursos-audio-visuales/produccion/fondo.jpg);
    background-size: cover;
    background-attachment:fixed;
}

.dreamworks {
    width: 100%;  
}

.historia {
    color: white;
    text-align: justify;
    margin-bottom: 80px;
}

.subtitulo {
    background-color: #273a97;
    color: rgb(255, 255, 255);
    font-family: subtitulos;
    font-size: 3rem;
    text-align: left;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 18px;
}

.partes {
    width:fit-content;
    margin-top: 30px;
   border-radius: 20px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px;
}

.partes p {
    font-size: 0.6em;
    color:white;
    padding-left: 16px;
}

.pelis {
    color: white;
}

.otraspelis {
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    margin: 0; 
    padding: 3%;
    margin-bottom: 40px;
   
}

.pelidescripcion {
    display: flex;
    gap: 20px;
    width:fit-content;
    margin-top: 30px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px;
}

.titutlootraspelis {
font-size: 44px;
color: #273a97;
margin-bottom: -3%;
}

.tecnicosotraspelis{
font-size: 30px;
font-weight: 350; 
margin-bottom: -1%;
}

.pelidescripcion p {
    font-size: 20px;
}

.video{
  aspect-ratio: 16/9;
  width: 350px;
}



