.lineapersonajes {
width: 100%;
display: block;
margin-bottom: 0px;
}

.tituloreparto {
text-align: left;
margin-top: 10px;
margin-top: -15%;
margin-bottom: 1%;
}

.contenedor{
    display:inline-flex;
    justify-content: space-between;
    gap:20px;
    border-radius: 10px; 
}

.tarjeta{
    background-color: #000000;
    border: #273a97;
    border-style: solid;
    border-width: 7px;
    border-radius: 20px;
    margin-bottom: 50px;
    width: 50%;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px;
}

.tarjeta img{
    width: 50%;
    display: block;
    border-radius: 5px;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 10%;
}

.personaje{
    font-family: titulos;
    color:#ffffff;
    font-size: 30px;
    margin-left: 10%;
}

.persona {
    font-family: textos;
    font-style: italic;
    font-weight: lighter;
    color:#ffffff;
    font-size: 20px;
    margin-left: 10%;
}

.tarjeta p{
    font-family: textos;
    font-size: 10pt;
    text-align: left;
    color: #ffffff;
    margin: 10%;
}

.contenedorafuera {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
     transform: translateY(-10px);
}

.tarjeta:hover {
    transform: translateY(-15px);
}

.error404 {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 10px rgb(127, 158, 193);
    font-size: 30px;
    background-color:#273a97; 
    border-radius: 20px; 
    padding: 15px;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 6%;
    border-style: solid;
    border-color: #000000;
   
}

.error404:visited {
    color:black;
}

