.titulo {
    font-family: subtitulos;
    font-size: 80px;
    font-weight: bold;
    color:#273a97;
    margin: 80px;
    text-align: center;
}

.contenedor {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.contenedor img {
    width: 200px;
    max-width: 700px;
    height: auto;
}

.contenedor span {
    width: 55%;
    font-size: 15px;
}

.contenedor{
    display:inline-flex;
    justify-content: space-between;
    gap:20px;
    border-radius: 10px; 
    
}

.contenedordos{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 40px;
}

.tarjeta{
    background-color: #000000;
    border: #273a97;
    border-style: solid;
    border-width: 7px;
    border-radius: 10px;
    margin-bottom: 50px;
  
}

.tarjeta h2 {
   color: white;
    text-align: center;
    font-size: 18px;
}

.tarjeta p{
    margin-left: 2%;
    margin-top: -1%;
    color: white;
    font-size: 12px;
    text-align: center;

}



